<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".tmp/phpunit"
         cacheResultFile="phpunit.results"
         colors="true"
         failOnRisky="true"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnWarning="true"
         testdox="true"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <clover outputFile=".tmp/phpunit/coverage.xml"/>
            <html outputDirectory=".tmp/phpunit/coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile=".tmp/phpunit/junit.xml"/>
    </logging>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="On"/>
    </php>
</phpunit>
